{
    "extends": "standard",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "allowShortCircuit": false,
        "allowTernary": false
    }
}